streamlit==1.25.0  # Versión específica de Streamlit
pandas==2.0.3      # Para manejo de datos
numpy==1.24.4      # Operaciones matemáticas y matrices
requests==2.31.0   # Para hacer consultas HTTP (como a la API de CoinGecko)
